<!-- Main sidebar -->
  <div class="sidebar-content">
    <!-- User menu -->
    <div class="sidebar-user">
      <div class="category-content">
        <div class="media">
          <a href="#" class="media-left"><img src="{{getUserImg()}}" class="img-circle img-sm"
                                              alt=""></a>
          <div class="media-body">
            <span class="media-heading text-semibold"></span>
            <div class="text-size-mini text-muted">
              <i class="icon-pin text-size-small"></i> &nbsp;Faculté de médecine de Sfax
            </div>
          </div>

          <div class="media-right media-middle">
            <ul class="icons-list">
              <li>
                <a href="#"><i class="icon-cog3"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /user menu -->
    <!-- Main navigation -->
    <div class="sidebar-category sidebar-category-visible">
      <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
          <!-- Components -->
          <li class="{{component.active}}" *ngFor="let component of components">
            <a (click)="goUrl(component.url)" *ngIf="!component.hidden">
              <i class="{{component.icon}}"></i>
              <span>{{component.name}}
                        </span>
              <span *ngIf="component.notification"
                    class="badge bg-warning-400">{{component.notification}}</span>
            </a>
            <ul>
              <li *ngFor="let child of component.childrens"
                  class="{{child.active}}">
                <a href *ngIf="!child.hidden && child.url"
                   [routerLink]="[child.url]">{{child.name}}
                  <span *ngIf="child.notification"
                        class="badge bg-warning-400">{{child.notification}}</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- /main navigation -->
  </div>
<!-- /main sidebar -->
