<form [ngBusy]="busy" #editQcmForm="ngForm" class="form-validate">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel registration-form">
        <div class="panel-body">
          <h5 class="content-group-lg"> {{qcm.id ? "Modification " : "Ajout "}}d'un QCM
          </h5>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group has-feedback
{{title.errors && (title.dirty || title.touched) ? 'has-error' :''}}">
                <label>Titre</label>
                <input type="text" class="form-control" placeholder="Titre"
                       [(ngModel)]="qcm.title"
                       #title="ngModel" name="title"
                       required>
              </div>
              <div *ngIf="title.invalid && (title.dirty || title.touched)">
                <label *ngIf="title.errors.required" class="validation-error-label">Ce champs
                  est
                  obligatoire.</label>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group has-feedback
{{nbR.errors && (nbR.dirty || nbR.touched) ? 'has-error' :''}}">
                <label>NB Choix</label>
                <input type="number" class="form-control" placeholder="Réponses"
                       [(ngModel)]="qcm.nbR"
                       (ngModelChange)="initQuestion(0)"
                       #nbR="ngModel" name="nbR"
                       required>
              </div>
              <div *ngIf="nbR.invalid && (nbR.dirty || nbR.touched)">
                <label *ngIf="nbR.errors.required" class="validation-error-label">Ce champs
                  est
                  obligatoire.</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Description</label>
                <textarea name="enter-message" class="form-control content-group" rows="3" cols="1"
                          [(ngModel)]="qcm.description"
                          placeholder="Description..."></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="panel registration-form">
        <div class="panel-body">
          <div class="text-center">
            <h5 class="content-group-lg"> Grille
            </h5>
          </div>
          <!-- Grille Header -->
          <div *ngIf="qcm.questions && qcm.questions[0]" class="row">
            <div class="col-md-1">
            </div>
            <div *ngFor="let choices of qcm.questions[0].responses" class="col-md-1">
              <h5>{{choices.title}}</h5>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-1">
              <h5>Ponderation</h5>
            </div>
          </div>
          <!-- **** Grille Header **** -->
          <div *ngFor="let question of qcm.questions;let i=index" class="row">
            <div class="center col-md-1">
              <h5> Q{{i+1}} </h5>
            </div>
            <div *ngFor="let choice of question.responses" class="col-md-1">
              <input type="number" [(ngModel)]="choice.percentage" [ngModelOptions]="{standalone: true}"
                     class="form-control"
                     name="test" required>
            </div>
            <div class="col-md-1">
              <span *ngIf="getQuestionPonderation(i)===100" class="label label-success">valid</span>
              <span *ngIf="getQuestionPonderation(i)!==100"
                    class="label label-danger">{{ 100 - getQuestionPonderation(i)}}</span>
            </div>
            <div class="col-md-1">
              <input type="number" [(ngModel)]="question.percentage"
                     [ngModelOptions]="{standalone: true}"
                     class="form-control"
                     name="ponderatation-question" required>
            </div>
            <div class="col-md-1 text-center">
              <a (click)="addQuestion(i)" style="margin-right: 3px" class="label label-success"><i
                class="icon-plus2"></i> </a>
              <a *ngIf="i!==0 || qcm.questions.length>1" class="label label-danger"><i class="icon-minus2"></i> </a>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="text-right">
            <span *ngIf="getQCMPonderation()===100" class="label label-success">valid</span>
            <span *ngIf="getQCMPonderation()!==100"
                  class="label label-danger">{{ 100 - getQCMPonderation()}}</span>

            <button (click)="submitQCM()" [disabled]="!editQcmForm.form.valid"
                    class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i
              class="icon-pen"></i></b>{{qcm.id?'Modifier':'Ajouter'}}
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
