<div class="navbar-top  pace-done">
  <app-header-layout></app-header-layout>
  <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->

    <div class="page-content">
      <div class="sidebar sidebar-main sidebar-fixed">
        <app-side-bar-layout></app-side-bar-layout>
      </div>
      <!-- Main content -->
      <div class="content-wrapper">
        <!-- Content area -->
        <div class="content" style="min-height: 614px">
          <router-outlet></router-outlet>
        </div>
        <!-- /content area -->
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>
  <!-- /page container -->
  <app-footer-layout></app-footer-layout>
  <!-- /page container -->

</div>
