<!-- List QCM -->
<div class="panel panel-white">
  <div class="panel-heading" [ngBusy]="busy">
    <h6 class="panel-title">Liste des QCM's</h6>
    <div class="heading-elements">
    </div>
  </div>
  <br>

  <table class="table table-qcm">
    <thead>
    <tr class="bg-blue-400">
      <th>#</th>
      <th>QCM</th>
      <th>NB Choix</th>
      <th>NB Questions</th>
      <th>Description</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let qcm of qcms;let i=index;">
      <td>
        {{qcm.id}}
      </td>
      <td>
        {{qcm.title}}
      </td>
      <td *ngIf="qcm.questions.length>1">
        {{qcm.questions[0].responses.length}}
      </td>
      <td>
        {{qcm.questions.length}}
      </td>

      <td>
        {{qcm.description}}
      </td>
      <td class="text-center">
        <ul class="icons-list">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-menu9"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a [routerLink]="'/manage-qcm/'+qcm.id+'/edit'"><i class="icon-database-edit2"></i>
                Modifier</a>
              </li>
              <li><a (click)="deleteQCM(i)"><i
                class="icon-close2"></i>Supprimer</a></li>
            </ul>
          </li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- /Liste QCM-->
