<!-- main Header -->
<div class="navbar-top  pace-done">
  <div class="navbar navbar-default navbar-fixed-top header-highlight">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html"></a>
      <a *ngIf="!isNavCollapsed" href="http://www.medecinesfax.org"><img class="imglogo"
                                                                         src="assets/images/logomedecine1.png"
                                                                         alt=""></a>

      <ul class="nav navbar-nav visible-xs-block">
        <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
        <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
      </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
      <ul class="nav navbar-nav">
        <li><a (click)="switchNavCollapseMode()" class="sidebar-control sidebar-main-toggle hidden-xs"><i
          class="icon-paragraph-justify3"></i></a></li>

      </ul>

      <p class="navbar-text"><span class="label bg-success">En ligne</span></p>

      <ul class="nav navbar-nav navbar-right">


        <li class="dropdown dropdown-user">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{getUserImg()}}" alt="">
            <!--<span>{{admin.name}}</span> -->
            <i class="caret"></i>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li (click)="logout()"><a><i class="icon-switch2"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /main Header -->
