<!-- Page container -->
<div class="page-container">
  <!-- Page content -->
  <div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
      <!-- Content area -->
      <div class="content" [ngBusy]="busy">
        <!-- Registration form -->
        <form #registerForm="ngForm" class="form-validate">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="panel registration-form">
                <div class="panel-body">
                  <div class="text-center">
                    <h5 class="content-group-lg">Création de Compte
                    </h5>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback
{{lastName.errors && (lastName.dirty || lastName.touched) ? 'has-error' :''}}">
                        <label>Nom</label>
                        <input type="text" class="form-control" placeholder="Nom"
                               [(ngModel)]="user.lastName"
                               #lastName="ngModel" name="lastName"
                               required>
                        <div class="form-control-feedback">
                          <i class="icon-user-check text-muted"></i>
                        </div>
                      </div>

                      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                        <label *ngIf="lastName.errors.required" class="validation-error-label">Ce champs
                          est
                          obligatoire.</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-feedback
{{firstName.errors && (firstName.dirty || firstName.touched) ? 'has-error' :''}}">
                        <label>Prénom</label>
                        <input type="text" class="form-control" placeholder="Prénom"
                               [(ngModel)]="user.firstName"
                               #firstName="ngModel" name="firstName"
                               required>
                        <div class="form-control-feedback">
                          <i class="icon-user-check text-muted"></i>
                        </div>
                      </div>
                      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                        <label *ngIf="firstName.errors.required" class="validation-error-label">Ce champs
                          est
                          obligatoire.</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div
                        class="form-group has-feedback
                        {{email.errors && (email.dirty || email.touched) ? 'has-error' :''}}">
                        <label>Email</label>
                        <input type="text" class="form-control" placeholder="Email"
                               name="email"
                               [(ngModel)]="user.email"
                               #email="ngModel" required email>
                        <div *ngIf="email.invalid && (email.dirty || email.touched)">
                          <label *ngIf="email.errors.required" class="validation-error-label">Ce champs
                            est
                            obligatoire.</label>
                          <label *ngIf="email.errors.email" class="validation-error-label">Ce champs
                            est
                            un email.</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-feedback
{{mobile.errors && (mobile.dirty || mobile.touched) ? 'has-error' :''}}">
                        <label>Mobile</label>
                        <input type="tel" class="form-control" placeholder="Mobile" name="mobile"
                               [(ngModel)]="user.phone"
                               #mobile="ngModel" required>

                        <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                          <label *ngIf="mobile.errors.required" class="validation-error-label">Ce champs
                            est
                            obligatoire.</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group has-feedback
{{password.errors && (password.dirty || password.touched) ? 'has-error' :''}}">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" placeholder="Mot de passe"
                               name="password"
                               [(ngModel)]="user.password"
                               #password="ngModel" required>
                        <div *ngIf="password.invalid && (password.dirty || password.touched)">
                          <label *ngIf="password.errors.required" class="validation-error-label">Ce champs
                            est
                            obligatoire.</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div
                        class="form-group has-feedback
                        {{cpassword.errors && (cpassword.dirty || cpassword.touched) ? 'has-error' :''}}">
                        <label>Confirmer Mot de passe</label>
                        <input type="password" class="form-control" placeholder="Confirmer Mot de passe"
                               name="cpassword"
                               [(ngModel)]="user.cpassword"
                               #cpassword="ngModel" required>

                        <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">
                          <label *ngIf="cpassword.errors.required" class="validation-error-label">{{ user.password !=
                            user.cpassword ? 'Ne sont pas identiques.' :
                            'Ce champs est obligatoire.'}}</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-right">
                    <button (click)="registerUser()"
                            class="btn bg-teal-400 btn-labeled btn-labeled-right ml-10"><b><i
                      class="icon-plus3"></i></b> Create account
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- /registration form -->
      </div>
      <!-- /content area -->
    </div>
    <!-- /main content -->
  </div>
  <!-- /page content -->
</div>
<!-- /page container -->

