<div class="input-group">
  <span class="input-group-addon"><i class="icon-calendar22"></i></span>
  <input type="text" placeholder="Choisir la date"
         class="form-control {{className}}">

</div>
