<!-- Footer -->
<div class="navbar navbar-default navbar-fixed-bottom">
  <ul class="nav navbar-nav no-border visible-xs-block">
    <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second"><i
      class="icon-circle-up2"></i></a></li>
  </ul>

  <div class="navbar-collapse collapse" id="navbar-second">
    <div class="navbar-text">
      &copy; 2019. <a href="#">Médecine Sfax</a> by <a href="http://www.vayetek.com" target="_blank">Vayetek</a>
    </div>

    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><a href="#">Help center</a></li>
        <li><a href="#">Policy</a></li>
        <li><a href="#" class="text-semibold">Upgrade your account</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog3"></i>
            <span class="visible-xs-inline-block position-right">Settings</span>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#"><i class="icon-dribbble3"></i> Dribbble</a></li>
            <li><a href="#"><i class="icon-pinterest2"></i> Pinterest</a></li>
            <li><a href="#"><i class="icon-github"></i> Github</a></li>
            <li><a href="#"><i class="icon-stackoverflow"></i> Stack Overflow</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /footer -->
