<select class="{{className}}">
  <option disabled value="0">{{defaultValue}}</option>
  <option *ngFor="let option of options;let i=index"
          value="{{ids[i]}}">
    {{option}}
  </option>
</select>
