<div class="login-container login-cover">
  <!-- Page container -->
  <div class="page-container">

    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div [ngBusy]="busy" class="content pb-20">

          <!-- Form with validation -->
          <form [ngBusy]="busy" #loginForm="ngForm" class="form-validate">
            <div class="panel panel-body login-form">
              <div class="text-center">
                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                <h5 class="content-group">Connexion
                  <small class="display-block">Vos coordonnées</small>
                </h5>
              </div>
              <div
                class="form-group has-feedback has-feedback-left
                {{login.errors && (login.dirty || login.touched) ? 'has-error' :''}}">
                <input [(ngModel)]="credentials.email" #login="ngModel" type="email" class="form-control"
                       placeholder="Email"
                       name="email" required email>
                <div class="form-control-feedback">
                  <i class="icon-user text-muted"></i>
                </div>
              </div>
              <div class="form-group has-feedback has-feedback-left
                   {{password.errors && (password.dirty || password.touched) ? 'has-error' :''}}">
                <input [(ngModel)]="credentials.password" #password="ngModel"
                       type="password" class="form-control" placeholder="Mot de passe"
                       name="password" required="required" minlength="5">
                <div class="form-control-feedback">
                  <i class="icon-lock2 text-muted"></i>
                </div>
              </div>
              <div class="form-group">
                <button (click)="loginSubmit()" type="submit" class="btn bg-blue btn-block"
                        [disabled]="!loginForm.form.valid">Se connecter<i
                  class="icon-arrow-right14 position-right"></i></button>
              </div>

              <div class="content-divider text-muted form-group"><span>Pas encore de compte ?</span></div>
              <a [routerLink]="'/register'" class="btn btn-default btn-block content-group">Créer un
                compte</a>
            </div>
          </form>
          <!-- /form with validation -->

        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->
</div>
